@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&display=swap');

:root {
/*  --cor0: #D0D0D0; background 
    --cor1: #FDFBF7; cor fundo do botão 
    --cor2: #202020; cor das bordas 
    --cor3: #1C1D1D; cor hover botões */

    --cor0: #f3f6f4;
    --cor1: #dbd4d4;
    --cor2: #cc0000;
    --cor3: #eeeeee;
    --cor4: #000000;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

nav {
    text-align: right;

}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-family: 'Fira Code', Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none; 
    margin-right: 30px;

}

a:before { /* quadrado a esquerda das palavras no menu */
    content: '';
    background-color: #F25A70;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


/* # para seletor de id . para seletor de classe */

#button {
    display: inline-block;
    background-color: #F25A70;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
    transition: 100ms cubic-bezier(.45,.96,.68,2.48);
}

#button:hover {
    transform: scale(1.01);
    
}